/*
  ========================================
  Mentor-Card Styles
  ========================================
*/

html, body {
    height: 100%;
}

/* centering */

.mentor-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* main container */

.mentor-info-table {
    border: 1px solid #dddddd;
    color: #333333;
    width: 300px;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to right, #1a1a1a, #2d2d2d, #414141, #575757);
}

/* gradient behind picture */

.user-category-name {
    height: 140px;
    background-image: linear-gradient(to right, #5eb3c0, #5dc3bc, #73d1ae, #98dc9b, #c7e388);
    border: 2px solid #726c6c;
}

/* avatar */

img.mentor-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2px;
    position: relative;
    bottom: 100px;
    width: 150px;
    border-radius: 50%;
    border: 2px double #6b6b6b;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

/* personal information container */

.mentor-info-table ul,
.mentor-information {
    margin-top: -60px;
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #cac7c7;
}

/* personal information values */

.mentor-info-table li,
input.new-mentor-template {
    line-height: 45px;
    width: 70%;
    margin: 3px;
    background-color: #c0c0c048;
}

/* students button */

.mentor-info-table li.mentors-students {
    background-color: unset;
}

button.mentor-students-button {
    color: #cac7c7;
    font-size: 18px;
    width: 100%;
    height: 45px;
    background-color: #c0c0c048;
    border: none;
    transition: all 0.2s linear 0s;
}

button.mentor-students-button:hover {
    cursor: pointer;
    box-shadow:
        0 1px 0 rgba(255, 255, 255, 0.25),
        0 1px 0 rgba(255, 255, 255, 0.25) inset,
        0 0 0 rgba(0, 0, 0, 0.5) inset,
        0 1.25rem 0 rgba(255, 255, 255, 0.08) inset,
        0 -1.25rem 1.25rem rgba(0, 0, 0, 0.3) inset,
        0 1.25rem 1.25rem rgba(255, 255, 255, 0.1) inset;
}

/* save button for editable cards */

button.submit-button,
input.submit-button {
    margin-top: 10px;
    border: none;
    width: 100%;
    background-color: #5eb3c0;
    color: #ffffff;
    font-size: 18px;
    height: 40px;
}

button.submit-button:hover,
input.submit-button:hover {
    cursor: pointer;
    box-shadow:
        0 1px 0 rgba(255, 255, 255, 0.25),
        0 1px 0 rgba(255, 255, 255, 0.25) inset,
        0 0 0 rgba(0, 0, 0, 0.5) inset,
        0 1.25rem 0 rgba(255, 255, 255, 0.08) inset,
        0 -1.25rem 1.25rem rgba(0, 0, 0, 0.3) inset,
        0 1.25rem 1.25rem rgba(255, 255, 255, 0.1) inset;
}

/* recruit mentor button */

input.submit-button {
    margin-top: 44px;
}

/* input fields */

input.new-mentor-template {
    color: #cac7c7;
    font-size: 14px;
    text-align: center;
}

/* color of the add new mentor card */

.new-mentor {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
}