/*
================================
    Quest Card
============================
 */

.quest-card{
    margin: 20px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 20px;
    width: 300px;
    height: 450px;

    display: flex;
    flex-flow: column nowrap;
}

.quest-card-basic{
    background-image:url("../images/quest-card/quest-card-background-basic.png");
}

.quest-card-extra{
    background-image: url("../images/quest-card/quest-card-background-extra.png");
}

.quest-card-header{
    text-align: center;
    font-size: 25px;
    margin: 25px 10px 20px 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.quest-card-price{
    background-image: url("../images/quest-card/quest-card-price.png");
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    border-style: solid;
    border-width: 1px;
    }

.quest-card-price-box{
    position: absolute;
    font-size: 20px;
}

.quest-card-image img{
    /*position: fixed;*/
    width: 280px;
    margin-left: 10px;
}

.quest-card-text-box{
    background-image:url("../images/quest-card/quest-card-text.png");
    width: 280px;
    height: 100%;
    margin: 10px;
}

.quest-card-text{
    font-size: 20px;
    line-height: 1.5em;
    padding: 10px;
}