{% include "../static/mentor-header.html" %}
<section class="main-info">
    <div class="student-info-container">

{% for student in studentsList %}

    <div class="student-info-table">

    <div class="user-category-name student-category"></div>

    <div class="student-profile-picture">
        <img src="../static/assets/images/student-card/student.png" alt="Student" class="student-picture" />
    </div>

    <div class="student-editable">
        <ul class="student-information">
            <li class="student-name" contenteditable="true">{{ student.getFirstName }}</li>
            <li class="student-email" contenteditable="true">j.klocuch@gmail.com</li>
            <li class="student-class" contenteditable="true">Advanced</li>
            <li class="students-atrifacts">
                <button type="button" class="students-artifacts-button">Artifacts</button>
            </li>
        </ul>

        <button type="submit" name="submit-button" class="submit-button" onclick="sendInfoStudentCard()">Save</button>
    </div>
</div>
{% endfor %}

    </div>

</section>
{% include "../static/footer.html" %}