{% include "../static/mentor-header.html" %}

<section class="main-info">

    <div id="quest-card" class="quest-card quest-card-extra">
        <div id="description" class="quest-card-header" contenteditable="true">Solving the magic puzzle
            <div class="quest-card-price">
                <div id="price" class="quest-card-price-box" contenteditable="true">100</div>
            </div>
        </div>
        <div class="quest-card-image">
            <img src="../static/assets/images/quest-card/quest-magic-puzzle.jpg" alt="dungeon image">
        </div>


        <div class="quest-card-category">Extra Quest</div>
        <div class="quest-card-text-box">
            <div id="cardText" class="quest-card-text" contenteditable="true">Finishing an SI assignment </div>
            <button class="myButton" onclick="sendInfoQuestCard()">Save changes</button>
        </div>
    </div>

    {% for card in cardsList %}
        <div id="quest-card" class="quest-card quest-card-extra">
            <div id="description" class="quest-card-header" contenteditable="true">Solving the magic puzzle
                <div class="quest-card-price">
                    <div id="price" class="quest-card-price-box" contenteditable="true">100</div>
                </div>
            </div>
            <div class="quest-card-image">
                <img src="../static/assets/images/quest-card/quest-magic-puzzle.jpg" alt="dungeon image">
            </div>


            <div class="quest-card-category">Extra Quest</div>
            <div class="quest-card-text-box">
                <div id="cardText" class="quest-card-text" contenteditable="true">Finishing an SI assignment </div>
                <button class="myButton" onclick="sendInfoQuestCard()">Save changes</button>
            </div>
        </div>

    {% endfor %}
</section>

{% include "../static/footer.html" %}