<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/stylesheets/main.css">
    <link rel="stylesheet" href="../assets/stylesheets/quest-card.css">
</head>
<body onpageshow="progressBar()">
<section class="main-info">
<header class="primary-header">
    <div class="container">
        <div class="sub-header">
            <div class="logo">
                <a href="index.html">
                    <img src="../assets/images/logo.png" alt="LOGO">
                </a>
            </div>
            <div class="user-status">
                <div class="level">
                    <div>
                        <h2> Level: &nbsp</h2>
                        <h2> 5 </h2>
                    </div>
                    <div id="myProgress" >
                        <div id="myBar"></div>
                    </div>
                </div>
                <div class="coins">
                    <h2>Coins: &nbsp</h2>
                    <h2> 2400 </h2>
                </div>
            </div>
        </div>
        <nav class="primary-nav">
            <ul>
                <li><a href="index.html">Some text</a></li>
                <li><a href="#">Sometext</a></li>
                <li><a href="#">Other</a></li>
                <li><a href="#">Ororor</a></li>
            </ul>
            <div id="logout">
                <img src="../assets/images/logout.png" alt="Logout">
            </div>
        </nav>
    </div>
</header>
<section style="display: flex; flex-flow: row wrap">
    <div class="quest-card quest-card-basic">
        <div class="quest-card-header">Exploring a dungeon
            <div class="quest-card-price">
                <div class="quest-card-price-box">100</div>
            </div>
        </div>
        <div class="quest-card-image">
            <img src="../assets/images/quest-card/quest-exploring-a-dungeon" alt="dungeon image">
        </div>
        <div class="quest-card-category">Basic Quest</div>
        <div class="quest-card-text-box">
            <div class="quest-card-text">Finishing a Teamwork week </div>
        </div>
    </div>

    <div id="quest-card" class="quest-card quest-card-extra">
        <div id="description" class="quest-card-header" contenteditable="true">Solving the magic puzzle
            <div class="quest-card-price">
                <div id="price" class="quest-card-price-box" contenteditable="true">100</div>
            </div>
        </div>
        <div class="quest-card-image">
            <img src="../assets/images/quest-card/quest-magic-puzzle.jpg" alt="dungeon image">
        </div>


        <div class="quest-card-category">Extra Quest</div>
        <div class="quest-card-text-box">
            <div id="cardText" class="quest-card-text" contenteditable="true">Finishing an SI assignment </div>
            <button class="myButton" onclick="sendInfoQuestCard()">Save changes</button>
        </div>
    </div>

</section>
<footer class="primary-footer">
    <div class="logo">
        <a href="index.html">
            <img src="../assets/images/logo.png" alt="Logo">
        </a>
    </div>
    <div>
        <small>&copy; CodeClimbersCorp</small>
    </div>
    <div>

    </div>
</footer>

    <script src="../Scripts/script.js"></script>

</body>
</html>