<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuration</title>
    <link rel="stylesheet" href="../node_modules/nouislider/distribute/nouislider.css">
    <link rel="stylesheet" href="../assets/stylesheets/main.css">

</head>
<body onpageshow="slider()">
<header class="primary-header">
    <div class="container">
        <div class="sub-header">
            <div class="logo">
                <a href="../admin.html">
                    <img src="../assets/images/logo.png" alt="LOGO">
                </a>
            </div>
        </div>
        <nav class="primary-nav">
            <ul>
                <li><a href="../admin.html">Mentors</a></li>
                <li><a href="#">Classes</a></li>
                <li><a href="configuration.html">Configuration</a></li>
            </ul>
            <div id="logout">
                <img src="../assets/images/logout.png" alt="Logout">
            </div>
        </nav>
    </div>
</header>
<section class="main-info">
    <h2>Choose levels score</h2>

    <div id="range"></div>
    <section class="slider-range">
        <div id="range-value-1"></div>
        <div id="range-diff-1"></div>
        <div id="range-value-2"></div>
        <div id="range-diff-2"></div>
        <div id="range-value-3"></div>
        <div id="range-diff-3"></div>
        <div id="range-value-4"></div>
    </section>

</section>
<footer class="primary-footer">
    <div class="logo">
        <a href="../admin.html">
            <img src="../assets/images/logo.png" alt="Logo">
        </a>
    </div>
    <div>
        <small>&copy; CodeClimbersCorp</small>
    </div>
    <div>

    </div>
</footer>
<script src="../node_modules/nouislider/distribute/nouislider.js"></script>
<script src="../Scripts/script.js"></script>
<script src="../node_modules/wnumb/wNumb.js"></script>
</body>
</html>
