<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mentor Card</title>
    <link rel="stylesheet" href="../assets/stylesheets/user-card.css" />
</head>

<body>
<div class="mentor-info-container">
    <form class="mentor-info-table new-mentor">

        <div class="user-category-name"></div>

        <div class="mentor-profile-picture">
            <img src="../assets/images/mentor-card/mentor.png" alt="Mentor" class="mentor-picture" />
        </div>

            <div class="mentor-information">
                <input type="text" name="name" placeholder="Enter mentor's name" required="required" class="new-mentor-template" />
                <input type="email" name="email" placeholder="Enter mentor's email" required="required" class="new-mentor-template" />
                <input type="text" name="text" placeholder="Enter mentor's class" required="required" class="new-mentor-template" />
            </div>

        <input type="submit" name="submit-button" class="submit-button" value="Recruit Codecooler" />
    </form>
</div>

<script src="../Scripts/user-cards.js"></script>

</body>
</html>