<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Card</title>
    <link rel="stylesheet" href="../assets/stylesheets/student-card.css">
</head>

<body>
<div class="student-info-container">
    <form class="student-info-table new-student">

        <div class="user-category-name"></div>

        <div class="student-profile-picture">
            <img src="../assets/images/student-card/student.png" alt="Student" class="student-picture">
        </div>

        <div class="student-information">
            <input type="text" name="name" placeholder="Enter codecooler's name" required="required" class="new-student-template">
            <input type="email" name="email" placeholder="Enter codecooler's email" required="required" class="new-student-template">
            <input type="text" name="text" placeholder="Enter codecooler's class" required="required" class="new-student-template">
        </div>

        <input type="submit" name="submit-button" class="submit-button" value="Recruit Codecooler">
    </form>
</div>

<script src="Scripts/user-cards.js"></script>

</body>
</html>